//* *************** ALIGNMENT ***************** */
.alignment-radio-set {
    list-style: none;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 490px;
    &__item{
        width: 33%;
        //border: 1px solid $color-gray-3;
        text-align: center;
        margin-bottom: 2px;
        
        > input {@include hide-item;}
        .alignment-radio-label{
            display: block;
            background-color: $color-input-background;
            border-radius: $border-radius-standard;
            @include background-color-transition;
        }
        > input:checked + .alignment-radio-label {
            background: $color-royal;
            color: $color-white;
        
        }

    }
}


.fx-grid
{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.fx-col { width: 50%; }

.trait-list
{
	list-style: none;
	padding: 0;
	margin: .5em 0;
	min-height: 86px;
}

.trait-list li
{
	padding: .25em .25em .25em .5em;
	margin: .25em;
	border-radius: 4px;
	display: inline-block;
	transition: all 0.5s ease;
	border: 1px solid #dcdcdc;
}
