//* *************** ATTRUIBUTES ***************** */
.attributes {
  button {
    cursor: pointer;
    padding: 3px 3px 0 3px;
  }
  // nested here for some needed specificity
  .attrib-input {
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-family: $text-regular;
  }
  // hide the number stepper
  /* For Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Webkit browsers like Safari and Chrome */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.attrib-val {
  width: 44px;
  height: 44px;
  border: 1px solid $color-gray-3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-input-background;
}

.attrib-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.attrib-name {
  padding-left: 10px;
  button {
    font-family: $text-header;
    font-size: 1.2rem;
    color: $color-royal;
    background-color: transparent;
    border: none;
    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}
.attrib-mod {
  padding-left: 1rem;
  font-style: italic;
  font-size: 0.875rem;
  font-family: $text-medium;
  span {
    border-bottom: 1px solid black;
  }
  input {
    width: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
  }
}
.attrib-bonus {
  display: inline-block;
  width: 16px;
  overflow: hidden;
  vertical-align: middle;
}
