// *********************** BASE ELEMENTS ***********************//
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: $text-regular;
  color: $color-black;
  background: $color-gray-5;
  font-family: $text-medium;
  font-size: 16px;
}

.root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
}

.header {
  grid-area: hd;
}

.main {
  grid-area: mn;
}

.footer {
  grid-area: ft;
  background: lighten($color-royal, 40%);
  color: darken($color-royal, 10%);
}

.page__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1176px;
  padding: 16px;

  // @include mq-desktop {
  //   padding-left: 24px;
  //   padding-right: 24px;
  //   padding-bottom: 60px;
  //   padding-top: 60px;
  // }
}

.autosave {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: $color-input-background;
  border: 1px solid $color-gray-3;
  padding: 5px;
  label {
    margin: 0;
    cursor: pointer;
  }
  input {
    cursor: pointer;
  }
}

/***** HEADERS *****/
// h1,
// .h1 {
//   @include header1;
// }
// h2,
// .h2 {
//   @include header2;
// }
// h3,
// .h3 {
//   @include header3;
// }
// h4,
// .h4 {
//   @include header4;
// }
// h5,
// .h5 {
//   @include header5;
// }
// h6,
// .h6 {
//   @include header6;
// }

h1,
h2,
h3,
h4 {
  @include font-header();
  color: $color-black;
  //letter-spacing: 1px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
  margin-bottom: 6px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 11px;
}
P {
  font-size: 16px;
  margin-top: 0;
}
li {
  font-size: 16px;
}
b,
strong {
  @include font-bold();
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

/*******************  LISTS  ****************************/
dl,
.dl {
  &.dl--columns-4 {
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    column-count: 4;
    column-gap: 1em;
  }
}

dt,
.dt {
  font-weight: bold;
}

dd,
.dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

.ul,
ol {
  margin-top: 0;
}

.list-downloads {
  list-style: none;
  padding: 0.5rem 0 0 2rem;
  margin: 0;
  text-align: left;
  &__item {
    margin-bottom: 0.75rem;
  }
  &__link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: $color-royal;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      font-family: "FontAwesome";
      color: $color-royal;
      font-size: 18px;
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f045";
      position: absolute;
      left: -1.5rem;
      top: 2px;
    }
  }
}
/*******************  Talent class indicators next to selects  ****************************/
.talent-class-indicator {
  display: inline-block;
  color: $color-white;
  height: 16px;
  width: 16px;
  font-size: 0.75rem;
  margin: 0 4px 0 0;
  text-align: center;
  border-radius: 2px;
  background: $color-gray-3;
  &--fighter {
    background: $color-fighter;
  }
  &--knave {
    background: $color-knave;
  }
  &--priest {
    background: $color-priest;
  }
  &--wizard {
    background: $color-wizard;
  }
  &--royal {
    background: $color-royal;
  }
}
