// *********************** BASE ELEMENTS ***********************//
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: $text-regular;
  color: $color-black;
  background: $color-gray-5;
  // text-align: center;
}

// bg base color for main elements
main,
header {
  // background: $color-white;
  // border-left: 1px solid $color-royal;
  // border-right: 1px solid $color-royal;
}
#root {
}

main {
  @include site-layout;
  @include mq-tablet {
    padding: $margins-tablet;
  }
  @include mq-phone {
    padding: $margins-phone;
  }
}

.autosave {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: $color-input-background;
  border: 1px solid $color-gray-3;
  padding: 5px;
  label {
    margin: 0;
    cursor: pointer;
  }
  input {
    cursor: pointer;
  }
}

.footer {
  @include site-layout;
  background: lighten($color-royal, 40%);
  color: darken($color-royal, 10%);
  box-shadow: 1000px 0px 0px 0px lighten($color-royal, 40%),
    -1000px 0px 0px 0px lighten($color-royal, 40%);
  padding: $margins-desktop;
  padding-bottom: 10rem;
}

/***** HEADERS *****/
h1,
.h1 {
  @include header1;
}
h2,
.h2 {
  @include header2;
}
h3,
.h3 {
  @include header3;
}
h4,
.h4 {
  @include header4;
}
h5,
.h5 {
  @include header5;
}
h6,
.h6 {
  @include header6;
}

button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

/*******************  LISTS  ****************************/
dl,
.dl {
  &.dl--columns-4 {
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    column-count: 4;
    column-gap: 1em;
  }
}

dt,
.dt {
  font-weight: bold;
}

dd,
.dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

.list-downloads {
  list-style: none;
  padding: 0.5rem 0 0 2rem;
  margin: 0;
  text-align: left;
  &__item {
    margin-bottom: 0.75rem;
  }
  &__link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: $color-royal;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      font-family: "FontAwesome";
      color: $color-royal;
      font-size: 18px;
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f045";
      position: absolute;
      left: -1.5rem;
      top: 2px;
    }
  }
}
/*******************  Talent class indicators next to selects  ****************************/
.talent-class-indicator {
  display: inline-block;
  color: $color-white;
  height: 16px;
  width: 16px;
  font-size: 0.75rem;
  margin: 0 4px 0 0;
  text-align: center;
  border-radius: 2px;
  background: $color-gray-3;
  &--fighter {
    background: $color-fighter;
  }
  &--knave {
    background: $color-knave;
  }
  &--priest {
    background: $color-priest;
  }
  &--wizard {
    background: $color-wizard;
  }
  &--royal {
    background: $color-royal;
  }
}
