// *********************** BASE ELEMENTS ***********************//
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: $text-regular;
  color: $color-black;
}
#root {
}

@mixin site-layout {
  width: 100%;
  max-width: $mq-desktop-max;
  margin: 0 auto;
}

header {
  @include site-layout;
  padding: 1em $margins-desktop;
  // background: lighten($color-royal, 50%);
  color: $color-royal;
  text-align: center;

  h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0px;
    letter-spacing: 0.125rem;
  }
  .subheader {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 0px;
  }
  @include mq-tablet {
    padding: $margins-tablet;
  }
  @include mq-phone {
    padding: $margins-phone;
  }
}

main {
  @include site-layout;
  padding: $margins-desktop;
  // border-left: 1px solid $color-royal;
  // border-right: 1px solid $color-royal;
  @include mq-tablet {
    padding: $margins-tablet;
  }
  @include mq-phone {
    padding: $margins-phone;
  }
}

footer {
  @include site-layout;

  padding: $margins-desktop;
  background: lighten($color-royal, 40%);
  color: darken($color-royal, 10%);
  @include mq-tablet {
    padding: $margins-tablet;
  }
  @include mq-phone {
    padding: $margins-phone;
  }
}

/***** HEADERS *****/
h1,
.h1 {
  @include header1;
}
h2,
.h2 {
  @include header2;
}
h3,
.h3 {
  @include header3;
}
h4,
.h4 {
  @include header4;
}
h5,
.h5 {
  @include header5;
}
h6,
.h6 {
  @include header6;
}

/***** SECTIONS  *****/
// section {
//   // border: 1px solid;
//   // border-color: #dcdcdc;
//   transition: border-color 0.5s ease;
//   margin-bottom: 1em;
//   padding: 0.5em;
//   background: $color-white;

//   &.l-basics {
//     width: calc(50% - 0.5em);
//   }
//   &.l-level {
//     width: calc(50% - 0.5em);
//   }
//   &.l-attributes {
//     width: calc(50% - 0.5em);
//   }
//   &.l-aspect {
//     width: calc(50% - 0.5em);
//   }
//   &.l-talents {
//     width: 100%;
//   }
//   &.l-alignment {
//     width: 33%;
//   }
//   &.l-traits {
//     width: 66%;
//   }
//   @include mq-phone {
//     padding-left: 0;
//     padding-right: 0;
//     border-left: none;
//     border-right: none;
//   }
// }

// .fighter section {
//   border-top: 3px solid $color-fighter;
// }
// .priest section {
//   border-top: 3px solid $color-priest;
// }
// .wizard section {
//   border-top: 3px solid $color-wizard;
// }
// .knave section {
//   border-top: 3px solid $color-knave;
// }

// section > h2 {
//   margin-top: 0;
//   margin-bottom: 1rem;
// }

/*******************  LISTS  ****************************/
dl,
.dl {
  &.dl--columns-4 {
    -moz-column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-count: 4;
    -webkit-column-gap: 1em;
    column-count: 4;
    column-gap: 1em;
  }
}

dt,
.dt {
  font-weight: bold;
}

dd,
.dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

/*******************  Talent class indicators next to selects  ****************************/
.talent-class-indicator {
  display: inline-block;
  color: white;
  height: 16px;
  width: 16px;
  font-size: 0.75rem;
  margin: 0 4px 0 0;
  text-align: center;
  border-radius: 2px;
  background: $color-gray-3;
  &--fighter {
    background: $color-fighter;
  }
  &--knave {
    background: $color-knave;
  }
  &--priest {
    background: $color-priest;
  }
  &--wizard {
    background: $color-wizard;
  }
  &--royal {
    background: $color-royal;
  }
}
