@use "variables-mixins" as *;

//* *************** ASPECT / CLASS SET ***************** */

//* *************** ASPECT / CLASS  RADIO BUTTONS STYLED INTO GRID FOR CHOOSING ***************** */

.aspect-radio-set {
  list-style: none;
  padding: 0;
  width: 242px;
  height: 194px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: $border-radius-standard;
  background-color: transparent;
  margin: 0 auto 1rem auto;
  &__item:nth-child(1),
  &__item:nth-child(3) {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  &__item:nth-child(1) {
    order: 1;
  }
  &__item:nth-child(2) {
    order: 3;
  }
  &__item:nth-child(3) {
    order: 4;
  }
  &__item:nth-child(4) {
    order: 2;
  }
}

input[type="radio"] + label.aspect-radio-label {
  @include theme-light;
  height: 66px;
  width: 81px;
  max-width: 81px;
  border: 2px solid;
  filter: grayscale(1);
  opacity: 0.5;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-standard;
  margin: 0;

  font-family: $font-header;
  cursor: pointer;
  &--fighter {
    border-color: $color-fighter;
    background-color: rgba($color-fighter, 0.15);
    &:hover {
      filter: none;
    }
  }
  &--priest {
    border-color: $color-priest;
    background-color: rgba($color-priest, 0.15);
    &:hover {
      filter: none;
    }
  }
  &--wizard {
    border-color: $color-wizard;
    background-color: rgba($color-wizard, 0.15);
    &:hover {
      filter: none;
    }
  }
  &--rogue {
    border-color: $color-rogue;
    background-color: rgba($color-rogue, 0.15);
    &:hover {
      filter: none;
    }
  }
  &__type {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
}

.aspect-radio-set__item > input:checked + .aspect-radio-label {
  filter: none;
  opacity: 1;
}

.aspect-radio-set__item > input {
  @include hide-item;
}

.trait-list li button {
  margin-left: 0.25rem;
}

//* *************** ASPECT / CLASS ICONS ***************** */
.aspect {
  &-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    font-size: 0.75rem;
    margin: 0 4px 0 0;
    text-align: center;
    border-radius: 2px;
    background: $color-text-muted;
    color: $color-text;

    &--fighter {
      background: $color-fighter;
    }
    &--rogue {
      background: $color-rogue;
    }
    &--priest {
      background: $color-priest;
    }
    &--wizard {
      background: $color-wizard;
    }
    &--common {
      background: $color-common;
    }
    &--race {
      background: $color-bg;
      height: 20px;
      width: 20px;
      font-size: 1rem;
    }
  }
}

//* *************** ASPECT / CLASS PICKER DESCRIPTIONS ***************** */

.aspect-picker-desc {
  &__header {
    text-transform: capitalize;
    font-size: $font-size-xl;
    margin-bottom: 0.5rem;
    margin-top: 0;
    line-height: 18px;
    > span {
      margin-right: 0.25rem;
    }
  }
  &__list {
    margin: 0;
    padding-left: 20px;
  }
  &__archetypes {
    display: none;
    font-size: $font-size-sm;
  }
}

// .aspect-select {
//   display: flex;
//   align-items: center;
//   gap: $spacing-xs;
//   margin-bottom: $spacing-sm;

//   select {
//     flex: 1;
//   }
// }
