@use "variables-mixins" as *;

// ********** MUTATIONS DETAILS **********

.char-sheet {
  &__mutations {
    &-controls {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: $spacing-md;
      margin-bottom: $spacing-sm;
      align-items: center;
    }

    &-control {
      display: flex;
      align-items: center;
      gap: $spacing-xs;

      select {
        margin-left: $spacing-xs;
        min-width: 80px;
      }
    }

    &-details {
      margin-top: $spacing-sm;
    }
  }
  &__table--mutations {
    width: auto;
    min-width: 50%;
    th {
      &:first-child {
        background: $color-mutation;
        color: $color-dark-inverted;
      }
      &:last-child {
        background: $color-defect;
        color: $color-dark-inverted;
      }
    }
    td {
      min-width: 230px;
    }
  }
}
