.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.modal {
  position: fixed;
  width: 640px;
  max-width: 960px;
  max-height: calc(100vh - 80px);
  top: 40px;
  left: 50%;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, 0);
  background: var(--color-dark);
  overflow: hidden;
  border-radius: 8px;
  outline: none;
  padding: 0;
  &__header {
    background: var(--color-accent);
    height: 40px;
    position: relative;
    padding: 0;
    text-align: left;
    border-radius: 8px 8px 0 0;
  }
  &__h2 {
    margin: 0 0 0 var(--spacing-md);
    font-size: 1.25rem;
    height: 40px;
    line-height: 40px;
    color: var(--color-dark);
    text-transform: uppercase;
  }
  &__header-button {
    height: 40px;
    width: 40px;
    border-radius: 0 8px 0 0;
    font-size: 1.25em;
    font-family: var(--font-header);
    position: absolute;
    right: 0;
    top: 0;
    border: none;
  }

  &__body {
    padding: var(--spacing-md);
    overflow-y: auto;
    max-height: calc(100vh - 120px);
  }
  &__footer {
    padding: var(--spacing-md);
  }
}
