/* *********** HEADER ********** */
.header {
  @include scheme-white-on-black(true);
  &__logo {
    height: 50px;
  }
  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__nav-list-item {
    @include button();
    display: inline-block;
  }
}

.logo {
  height: 80px;
  width: auto;
  margin-right: 8px;
}
