.char-bldr {
  max-width: 880px;
  text-align: left;
  margin: 0 auto;
  &__h2 {
    margin-top: -1rem;
    font-size: 1.8em;
    font-family: $text-cursive;
    font-weight: normal;
    text-align: center;
  }

  &__toolbar {
    background: $color-brand-lighter;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    border-radius: $border-radius-standard;
    > div {
      margin-right: 3em;
    }
  }
}
