// ********** Modals **********
@use "variables-mixins" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include theme-light;
  font-family: $font-primary;
  padding: 0;
  border-radius: $border-radius-lg;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 640px;
  z-index: 1051;
  border: 1px solid;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
  }

  &__header {
    @include theme-dark;
    padding: $spacing-xs $spacing-sm-alt;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: $color-text-light;
    }
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
  }

  &__body {
    padding: $spacing-sm-alt;
    line-height: 1.5;
  }

  &__footer {
    padding: $spacing-md $spacing-sm-alt;
    text-align: right;
  }
}

button.modal__header-button {
  font-size: 1.25rem;
  height: $spacing-md;
  width: $spacing-md;
  max-width: $spacing-md;
}
