.flex-grid {
  display: flex;
  justify-content: space-between;
  &__child {
    width: calc(33% - 1rem);
  }
  &__child--two {
    width: calc(67% - 1rem);
  }
  &__child--three {
    width: 100%;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--space-evenly {
    justify-content: space-evenly;
  }
  &--align-items-end {
    align-items: flex-end;
  }
}
