.flex-grid {
  display: flex;
  justify-content: space-between;
  &__child {
    width: calc(33% - 1rem);
  }
  &__child--two {
    width: calc(67% - 1rem);
  }
  &__child--three {
    width: 100%;
  }
  &__child--auto {
    width: auto;
  }
  &__child--half {
    width: calc(50% - 0.5rem);
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--space-evenly {
    justify-content: space-evenly;
  }
  &--flex-start {
    justify-content: flex-start;
  }
  &--align-items-end {
    align-items: flex-end;
  }
}
