.header {
  @include site-layout;
  padding: 1em $margins-desktop;
  //background: lighten($color-royal, 50%);
  color: $color-royal;
  text-align: center;
  position: relative;
  // border: 1px solid;
  overflow: hidden;

  h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0px;
    letter-spacing: 0.25rem;
    text-align: left;
  }
  &__dropcap {
    font-size: 4.9rem;
    margin-top: 0;
  }
  .subheader {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0px;
    color: $color-black;
    letter-spacing: 0;
    margin-top: -4px;
  }
  &__system-banner {
    font-family: $text-cursive;
    color: $color-black;
    background: $color-yellow-1;
    padding: 0.25em;
    position: absolute;
    width: 300px;
    text-align: center;
    top: 24px;
    right: -84px;
    transform: rotate(35deg);
  }
  &__bottom-border {
    background-image: url($path-img + "border-triangles-down-no-bottom.svg");
    background-repeat: repeat-x;
    background-size: 60% auto;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }
  @include mq-tablet {
    padding: $margins-tablet;
  }
  @include mq-phone {
    padding: $margins-phone;
  }
}
