// ********** CUSTON CLASS/ASPECT ICONS **********
@use "variables-mixins" as *;

.icon-aspect {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 24px;
  margin-right: 0.5rem;
  vertical-align: bottom;
  &:after {
    content: "";
    position: absolute;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    font-family: $font-header;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border-radius: 100%;
  }
  &--large {
    height: 36px;
    width: 36px;
    margin: 0;
    &:after {
      background-size: 90%;
    }
  }

  &--medium {
    height: 20px;
    width: 20px;
    margin: 0;
    &:after {
      background-size: 90%;
    }
  }

  &--in-button {
    height: 12px;
    width: 12px;
    margin: 0 0.25rem 0 0;
    &:after {
      background-size: 90%;
      bottom: 2px;
    }
  }

  &--common:after {
    content: "C";
    font-size: 20px;
  }
  &--race:after {
    content: "R";
    font-size: 20px;
  }
  &--fighter:after {
    background-image: url($path-img + "spade.svg");
  }
  &--priest:after {
    background-image: url($path-img + "diamond.svg");
  }
  &--wizard:after {
    background-image: url($path-img + "club.svg");
  }
  &--knave:after {
    background-image: url($path-img + "heart.svg");
  }
}

// ********** font awesome icons **********
.fas {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.fas::before {
  font-family: $font-icon;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-edit::before {
  content: "\f044";
}
.fa-trash::before {
  content: "\f1f8";
}
.fa-die::before {
  content: "\f0e7";
}
.fa-pointer::before {
  content: "\f0a4";
}
.fa-new-window::before {
  content: "\f064";
}
.fa-eye::before {
  content: "\f06E";
}
.fa-wand::before {
  content: "\f0D0";
}
.fa-shield::before {
  content: $color-bg;
}
.fa-diamond::before {
  content: "\f219";
}
.fa-castle::before {
  content: "\f286";
}
.fa-sphere::before {
  content: "\f111";
}
.fa-circle::before {
  content: "\f10c";
}
.fa-triangle-up::before {
  content: "\f0d8";
}

.fa-menu:before {
  content: "\f0c9";
}

.fa-search:before {
  content: "\f002";
}

.fa-close:before {
  content: "\f00d";
}

.fa-spell-dot {
  font-size: 16px;
  margin-left: 6px;
  &::before {
    content: "\f111";
  }
  &--black {
    color: $school-black;
  }
  &--blue {
    color: $school-blue;
  }
  &--green {
    color: $school-green;
  }
  &--red {
    color: $school-red;
  }
  &--white::before {
    content: "\f10c";
  }
}

// ********** magic school icons **********
.icon-school {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 4px;
  background-color: transparent;
  &--white {
    background-color: $school-white;
  }
  &--black {
    background-color: $school-black;
  }
  &--green {
    background-color: $school-green;
  }
  &--blue {
    background-color: $school-blue;
  }
  &--red {
    background-color: $school-red;
  }
}
