.fas {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.fas::before {
  font-family: "FontAwesome";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-edit::before {
  content: "\f044";
}
.fa-trash::before {
  content: "\f1f8";
}

.fa-die::before {
  content: "\f0e7";
}
