.button--modalClose {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	line-height: 0;
}

.notes {
  margin-top: 0.75em;
  &__textarea {
    font-family: $text-regular;
    width: 100%;
    min-height: 120px;
    padding: 10px;
  }
  &__list {
    margin-top: 0;
  }
  &__buttons {
    margin: 0.25em 0 1em 0;
    > button {
      margin-right: 0.5em;
    }
  }
}
