@media print {
  #footer,
  .preset-chooser,
  .data-display-box--explanations > div,
  .data-display-box--explanations > h2,
  .data-display-box__button,
  .attributes__die-button,
  // .aspect__modal-open-button .aspect-icon,
  .button-showSpellSlots,
  .table-levels--lvl1 .ut-display-inine-block .label,
  .table-levels--lvl1 .ut-display-inine-block br,
  .spells--table button,
  .notes button
  {
    display: none;
  }

  // hide the number stepper
  /* For Firefox */
  input[type=number] {
    background-color: transparent;
    border: none;
    -moz-appearance: textfield;
  }

  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }

  #header {
    padding: 0;
    h1 {
      font-size: 2rem;
    }
    .subheader {
      font-size: 1.25rem;
    }
  }
  .aspect-icon--large:after {
    background-size: 80%;
    bottom: 10px;
  }

  .character-lrc {
    justify-content: space-between;
    .ut-margin-right-1em {
      margin: 0;
    }
  }

  .hp {
    font-family: $text-regular;
    font-size: 16px;
  }

  .data-display-box--save-mods {
    .data-display-box__text {
      padding: .4rem .4rem .4rem 0;
    }
  }

  .data-display-box--explanations {
    height: 230px;
  }

  .table-levels td select {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 14px;
  }

  .table-levels--lvl1 select {
    max-width: 157px;
  }

  @for $i from 1 through 13 {
    .table-levels--#{$i} {
      @for $i2 from $i through 13 {
        .table-levels--lvl#{$i2 + 1} {
          display: none;
        }
      }
    }
  }

  .section--notes {
    position: relative;
    page-break-before: always;
  }
}