.spells {
  &__cta {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $color-overlay-light;
    padding-top: 1em;
    > .button {
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
  &__table {
    width: 100%;
    tr:nth-child(even) {
      background-color: $color-gray-5;
    }
    th {
      border-color: $color-black;
    }
    th,
    td {
      padding: 5px;
      text-align: center;
    }
    td:nth-child(2) {
      text-align: left;
    }
  }
  &--table-wizardry {
    th {
      background-color: $color-wizard;
      color: $color-white;
      border-color: $color-black;
    }
  }
  &--table-thaumaturgy {
    th {
      background-color: $color-priest;
      color: $color-white;
      border-color: $color-black;
    }
  }
  &__known-schools {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    top: 2px;
  }
}

.button-showSpellSlots {
  margin-left: 20px;
}

#modal--spellSlots {
  .modal__body {
    display: flex;
    justify-content: center;
  }
  td {
    text-align: center;
  }
  .active,
  .active th {
    background-color: lighten($color-wizard, 30%);
  }
}

#modal--thaumaturgySpells {
  width: 80vw;
}

#modal--wizardrySpells {
  width: 80vw;

  .showAll {
    margin-bottom: 10px;
  }
  .unavailable {
    background-color: $color-gray-4;
    color: rgba($color-gray-1, 0.8);
    cursor: not-allowed;
    pointer-events: none;
    &:hover,
    &:active {
      background-color: $color-gray-4;
    }
  }
}

#modal--schools {
  width: fit-content;
  fieldset {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    div {
      display: inline-block;
      margin: 5px 0 5px 20px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  label {
    cursor: pointer;
    @include greyhawkfont;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 0 0 8px;
    margin: 0;
  }
  input {
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    margin: 0;
  }
  .schoolDescriptions {
    border: 1px solid $color-royal;
    padding: 1em;
    margin-bottom: 1em;
    span {
      @include greyhawkfont;
      font-size: 1rem;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      line-height: 1.4em;
    }
  }
  .school-white {
    color: $school-white;
  }
  .school-black {
    color: $school-black;
  }
  .school-green {
    color: $school-green;
  }
  .school-blue {
    color: $school-blue;
  }
  .school-red {
    color: $school-red;
  }
  .validation--error {
    margin: 0;
    color: $color-knave;
  }
}
