.button-showSpellSlots {
  margin-left: 20px;
}
.spells--table {
  width: 100%;

  tbody tr:nth-child(even) {
    background-color: $color-gray-5;
  }
  th {
    border-color: $color-black;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }
  td:nth-child(2) {
    text-align: left;
  }

}
.knownSchools {
  display: inline-block;
  position: relative;
  margin-left:10px;
  top: 2px;
}
.spells--wizardry {
  th {
    background-color: $color-wizard;
    color: $color-white;
    border-color: $color-black;
  }
  tr:hover, tr:active {
    background-color: lighten($color-wizard, 40%);
  }
  [class^='school'] {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 4px
  }
  .school-white {
    background-color: $school-white;
  }
  .school-black {
    background-color: $school-black;
  }
  .school-green {
    background-color: $school-green;
  }
  .school-blue {
    background-color: $school-blue;
  }
  .school-red {
    background-color: $school-red;
  }
}

.spells--thaumaturgy {
  th {
    background-color: $color-priest;
    color: $color-white;
    border-color: $color-black;
  }
  tr:hover, .active {
    background-color: lighten($color-priest, 50%) !important;
  }
}

.clickable {
  cursor: pointer;
}


.table-wrapper {
  max-height: 80vh;
  overflow-y: auto;
  margin: 1em 0;
}

#modal--spellSlots {
  width: fit-content;
  .active, .active th {
    background-color: lighten($color-wizard, 30%);
  }
  h2 {
    margin: 0 0 20px 0;
  }
}

#modal--wizardrySpells {
  width: fit-content;
  max-width: 85vw;
  position: relative;

  .showAll {
    margin-left: 20px;
  }
  .unavailable {
    background-color: $color-gray-4;
    color: rgba($color-gray-1,.8);
    cursor: not-allowed;
    pointer-events: none;
    &:hover, &:active {
      background-color: $color-gray-4;
    }
  }
}

#modal--schools {
  width: fit-content;
  h2 {
    margin: 0 0 1em;
  }
  fieldset {
    margin: 15px 0;
  }
  div {
    display: inline-block;
    margin: 5px 0 5px 20px;
    &:first-child {
      margin-left: 0
    }
    &:last-child {
      margin-right: 0
    }
  }
  label {
    cursor: pointer;
    @include greyhawkfont;
    font-size: 1rem;
    display: inline-block;
    padding: 0 0 0 8px;
    margin: 0;
  }
  input {
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    margin: 0;
  }
  .school-white {
    color: $school-white;
  }
  .school-black {
    color: $school-black;
  }
  .school-green {
    color: $school-green;
  }
  .school-blue {
    color: $school-blue;
  }
  .school-red {
    color: $school-red;
  }
  .validation--error {
    margin: 0;
    color: $color-knave;
  }
}