//* *************** TABLES  ***************** */
table {
  margin: 1em 0;
  border-collapse: collapse;
  font-size: 0.875rem;
}

td,
th {
  padding: 0.25em 0.5em;
  border: none;
  min-width: 30px;
  text-align: left;
  vertical-align: top;
  border: 1px solid;
}

th {
  text-align: center;
  background: lighten($color-royal, 50%);
  @include greyhawkfont;
  font-size: 0.75rem;
}

.list-columns {
  @include list-columns();
}

.table-levels {
  width: 100%;
}

.table--spell-slots {
  caption {
    padding: 0.25rem;
    @include greyhawkfont;
  }
  .table__caption-text {
    display: inline-block;
    padding-bottom: 3px;
    margin-left: -8px;
  }
  td,
  th {
    padding: 0.33em 0.75em;
    min-width: 30px;
    text-align: center;
  }
}
