//* *************** TALENT LISTS ***************** */

.talent-list {
  padding-left: 50px;
  > li {
    position: relative;
    border: 1px solid;
    //border-left: 1.5em solid;
    margin: 0 0.5em 0.25em 0;
    padding: 0.25em 0.25em 0.25em 28px;
    &.fighter {
      border-left-color: $color-fighter;
    }
    &.priest {
      border-left-color: $color-priest;
    }
    &.wizard {
      border-left-color: $color-wizard;
    }
    &.knave {
      border-left-color: $color-knave;
    }
    &.common {
      border-left-color: $color-common;
    }
    &[aria-disabled="true"] {
      background: #dcdcdc;
    }
  }

  // the list of options as opposed to the list of charactre chosen options
  &--options {
    list-style: none;
    padding-left: 1em;
    max-height: 600px;
    overflow: scroll;
    > li:not([draggable="true"]) {
      background: #dcdcdc;
    }
    > li[draggable="true"] {
      cursor: grab;
    }
  }

  &__aspect {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 100%;
    width: 20px;
    color: $color-white;
    position: absolute;
    left: 0;
    top: 0;
    background: $color-gray-3;
    &.fighter {
      background: $color-fighter;
    }
    &.priest {
      background: $color-priest;
    }
    &.wizard {
      background: $color-wizard;
    }
    &.knave {
      background: $color-knave;
    }
    &.common {
      background: $color-common;
    }
  }

  &__clear {
    position: absolute;
    left: -44px;
  }

  &__type {
    text-transform: uppercase;
    margin-right: 0.5em;
  }
  &__desc {
    font-size: 0.875em;
  }
}
