//* *************** UTILITIES ***************** */

// ------- position & display -------
.ut-position-relative {
  position: relative;
}

.ut-display-inline-block {
  display: inline-block;
}

// ------- alignment -------
.ut-align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// ------- colors -------
.ut-zebra-gray {
  background: $color-muted-inverted;
}

.ut-color {
  &-knave {
    color: $color-knave;
  }
  &-fighter {
    color: $color-fighter;
  }
  &-priest {
    color: $color-priest;
  }
  &-wizard {
    color: $color-wizard;
  }
  &-royal {
    color: $color-dark;
  }
  &-mutation {
    color: $color-mutation;
  }
  &-gray {
    color: $color-muted-inverted;
  }
  &-spell-black {
    color: $color-black;
  }
  &-spell-blue {
    color: $school-blue;
  }
  &-spell-green {
    color: $school-green;
  }
  &-spell-red {
    color: $school-red;
  }
  &-spell-white {
    color: $school-white;
  }
  &-psionic-glow {
    @include color-psionic-glow; // Ensure this mixin is defined or adjust accordingly
  }
}

// ------- Margins --------
@import "variables-mixins"; // Ensure this is correctly pointing to your variables file

@include generate-margin-utilities;

// ------- Fonts & text styles --------
.ut-all-caps {
  text-transform: uppercase;
}

.ut-text-explain,
.ut-text-helper {
  color: $color-muted-inverted;
  font-family: $text-regular;
  font-size: 0.9375rem;
  font-style: italic;
}

.ut-captialize {
  text-transform: capitalize;
}

.ut-text-greyhawk {
  font-family: $text-header;
}

.ut-text-cursive {
  font-family: $text-cursive;
}

.ut-dropcap {
  color: #903; // Consider defining this color in variables if used frequently
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.ut-font-regular {
  @include font-regular; // Ensure this mixin is defined or adjust accordingly
}

.ut-font-semi {
  @include font-semi; // Ensure this mixin is defined or adjust accordingly
}

.ut-font-bold {
  @include font-bold; // Ensure this mixin is defined or adjust accordingly
}

// ------- PRINT VS SCREEN --------
@media print {
  .ut-no-print {
    display: none !important;
  }
}

@media screen {
  .ut-no-screen {
    display: none !important;
  }
}

// ------- MISC --------
.ut-clickable {
  cursor: pointer;
  &:hover {
    color: $color-dark;
  }
}

.ut-clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.ut-hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}

.ut-ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ut-only-sr {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.ut_tm {
  font-size: 0.75em;
  vertical-align: super;
}
