//* *************** UTILITIES ***************** */
@use "variables-mixins" as *;

// ------- position & display -------
.ut-position-relative {
  position: relative;
}

.ut-display-inline-block {
  display: inline-block;
}

// ------- alignment -------
.ut-align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// ------- colors -------
.ut-zebra-gray {
  background: $color-zebra;
}

.ut-color {
  &-knave {
    color: $color-knave;
  }
  &-fighter {
    color: $color-fighter;
  }
  &-priest {
    color: $color-priest;
  }
  &-wizard {
    color: $color-wizard;
  }
  &-royal {
    color: $color-royal;
  }
  &-mutation {
    color: $color-mutation;
  }
  &-gray {
    color: $color-muted-inverted;
  }
  &-spell-black {
    color: $color-black;
  }
  &-spell-blue {
    color: $school-blue;
  }
  &-spell-green {
    color: $school-green;
  }
  &-spell-red {
    color: $school-red;
  }
  &-spell-white {
    color: $school-white;
  }
  &-psionic-glow {
    @include color-psionic-glow;
  }
}

// ------- Margins --------
@include generate-margin-utilities;

// ------- Fonts & text styles --------

.ut-text-header {
  font-family: $font-header;
}

.ut-text-primary {
  font-family: $font-primary;
}

.ut-all-caps {
  text-transform: uppercase;
}

.ut-captialize {
  text-transform: capitalize;
}

.ut-text-explain,
.ut-text-helper {
  color: $color-text-muted;
  font-size: 0.9375rem;
  font-style: italic;
}

// ------- PRINT VS SCREEN --------
@media print {
  .ut-no-print {
    display: none !important;
  }
}

@media screen {
  .ut-no-screen {
    display: none !important;
  }
}

// ------- MISC --------
.ut-clickable {
  cursor: pointer;
  &:hover {
    color: $color-bg;
  }
}

.ut-clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.ut-hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}

.ut-ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ut-only-sr {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
