/* *********** Variables & mixins ********** */

// ********************* PATHS *********************
$path-font: "assets/fonts/";
$path-img: "assets/images/";

// fonts
@font-face {
  font-family: "FontAwesome";
  src: url($path-font + "FontAwesome/fontawesome-webfont.ttf")
    format("truetype");
}

$color-white: #fff;
$color-black: #000;

$color-gray-1: #333333; // Standard text color & color for all disabled text
$color-gray-2: #767676; // Lightest allowable text; input placeholder text and helper text.
$color-gray-3: #c4c4c4; // Form borders
$color-gray-4: #ebebeb; // Disabled elements backgrounds
$color-gray-5: #f6f7fb; // Page background.

// class colors
$color-common: #d2691e;
$color-fighter: #04a54f;
$color-priest: #2375b9;
$color-wizard: #e1a525;
$color-knave: #eb2026;
$color-royal: #883c8d;
$color-royal-zebra: #f0e0f2;
$color-input-background: #f5f3ed;

$color-mutation: #ff2600;
$color-mutation-zebra: #f7d2bc;
$color-defect: #04a54f;
$color-defect-zebra: #beebd1;

// colors for wizadry schools
$school-white: rgb(158, 158, 158);
$school-black: $color-black;
$school-green: $color-fighter;
$school-blue: $color-priest;
$school-red: $color-knave;

// bakcground and/or overlays colors
$color-overlay-dark: rgba(0, 0, 0, 0.75);
$color-overlay-light: rgba(255, 255, 255, 0.75);

// misc colors
$color-yellow-1: #f1be42;
$color-yellow-2: rgb(255, 255, 161);
$color-navy: #000080;

// colors
$color: black;
$color-bg: white;
$color-alt: white;
$color-bg-alt: #883c8d;
$color-header: white;
$color-header-bg: black;
$color-btn: black;
$color-btn-bg: #e1a525;
$color-btn-hover: orange;
$form-border-radius: 4px;
$color-gray: #767676;

$color-gray-bg: #e0e6f2;

/* *********** Mixins ********** */

// color schemes
@mixin scheme-white-on-black($shadow: false) {
  color: $color-white;
  background: $color-black;
  @if $shadow {
    box-shadow: 1000px 0px 0px 0px $color-black,
      -1000px 0px 0px 0px $color-black;
  }
}

@mixin scheme-white-on-royal($shadow: false) {
  color: $color-white;
  background: $color-royal;
  @if $shadow {
    box-shadow: 1000px 0px 0px 0px $color-royal,
      -1000px 0px 0px 0px $color-royal;
  }
}

@mixin scheme-navy-on-white($shadow: false) {
  color: $color-navy;
  background: $color-white;
  @if $shadow {
    box-shadow: 1000px 0px 0px 0px $color-white,
      -1000px 0px 0px 0px $color-white;
  }
}

@mixin scheme-navy-on-gray($shadow: false) {
  color: $color-navy;
  background: $color-gray-bg;
  @if $shadow {
    box-shadow: 1000px 0px 0px 0px $color-gray-bg,
      -1000px 0px 0px 0px $color-gray-bg;
  }
}

@mixin color-psionic-glow {
  text-shadow: 0 0 10px rgb(236, 222, 130);
  color: $color-royal;
}

// Media queries
@mixin mq-desktop {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin mq-phone {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mq-tablet-down {
  @media (max-width: 789px) {
    @content;
  }
}

// font sizes
@mixin text-small {
  font-size: 12px;
  @include mq-desktop {
    font-size: 16px;
  }
}

@mixin text-medium {
  font-size: 20px;
  @include mq-desktop {
    font-size: 24px;
    line-height: 1.3em;
  }
}

@mixin text-large {
  font-size: 32px;
  @include mq-desktop {
    font-size: 60px;
  }
}

@mixin only-sr {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  height: auto;
  width: auto;
  overflow: hidden;
  z-index: 1000;
  color: transparent;
}

@mixin button {
  @include text-medium();
  color: $color-black;
  background: $color-yellow-1;
  border-radius: $form-border-radius;
  font-weight: 500;
  border: 1px solid;
  display: block;
  width: 100%;
  padding: 16px;
  &:hover {
    background: $color-yellow-2;
  }
  @include mq-desktop() {
    display: inline-block;
    width: auto;
    padding: 8px 16px;
  }
}

// TB SOrted

@mixin hide-item {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

@mixin background-color-transition {
  transition: background-color 0.5s ease;
}
