// ********************* PATHS *********************
$path-font: "assets/fonts/";
$path-img: "assets/images/";

/***************************** FONT IMPORTS ************************************* */
@font-face {
  font-family: "cabin-regular";
  src: url($path-font + "Cabin/Cabin-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "cabin-medium";
  font-weight: normal;
  src: url($path-font + "Cabin/Cabin-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "cabin-semibold";
  font-weight: normal;
  src: url($path-font + "Cabin/Cabin-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "cabin-bold";
  src: url($path-font + "Cabin/Cabin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GreyhawkGothic";
  src: url($path-font + "GreyhawkGothic/GreyhawkGothic.ttf") format("truetype");
}

@font-face {
  font-family: "FontAwesome";
  src: url($path-font + "FontAwesome/fontawesome-webfont.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kaushan Script";
  src: url($path-font + "Kaushan_Script/KaushanScript-Regular.ttf")
    format("truetype");
}

// ********************* FONTS *********************
$text-regular: "Cabin Regular", Cabin, sans-serif;
$text-medium: "Cabin Medium", Cabin, sans-serif;
$text-semi: "Cabin Medium", Cabin, sans-serif;
$text-bold: "Cabin Bold", Cabin, sans-serif;

$text-header: "GreyhawkGothic", GreyhawkGothic, sans-serif;

$text-cursive: "Kaushan Script", cursive;

// *********************** COLOR VARIABLES ***********************//

// $color-white: rgb(253, 255, 245);
$color-white: #fff;
$color-black: #000;

$color-gray-1: #333333; // Standard text color & color for all disabled text
$color-gray-2: #767676; // Lightest allowable text; input placeholder text and helper text.
$color-gray-3: #c4c4c4; // Form borders
$color-gray-4: #ebebeb; // Disabled elements backgrounds
$color-gray-5: #f6f7fb; // Page background.

$color-yellow-1: #f1be42;

// class colors
$color-common: #d2691e;
$color-fighter: #04a54f;
$color-priest: #2375b9;
$color-wizard: #e1a525;
$color-knave: #eb2026;
//$color-royal: #9900ff;
$color-royal: #883c8d;
$color-input-background: #f5f3ed;
$school-white: rgb(158, 158, 158);
$school-black: $color-black;
$school-green: $color-fighter;
$school-blue: $color-priest;
$school-red: $color-knave;

// *********************** LAYOUT VARIABLES ***********************//

$form-element-height: 24px;
$form-element-border: 1px solid $color-gray-3;
$border-radius-standard: 3px;

$mq-phone-max: 480px;
$mq-tablet-max: 768px;
$mq-desktop-max: 960px;

$margins-desktop: 1.5rem;
$margins-tablet: 1rem;
$margins-phone: 0.5rem;
$margins-form-element-bottom: 1rem;

// ******************** MIXINS ***************************//
@mixin mq-phone {
  @media (max-width: $mq-phone-max) {
    @content;
  }
}
@mixin mq-tablet-down {
  @media (max-width: $mq-tablet-max) {
    @content;
  }
}
@mixin mq-tablet {
  @media (min-width: $mq-phone-max + 1) and (max-width: $mq-tablet-max) {
    @content;
  }
}
@mixin mq-tablet-up {
  @media (min-width: $mq-tablet-max + 1) {
    @content;
  }
}
@mixin mq-desktop {
  @media (min-width: $mq-tablet-max + 1) and (max-width: $mq-desktop-max) {
    @content;
  }
}
@mixin mq-desktop-large {
  @media (min-width: $mq-desktop-max + 1) {
    @content;
  }
}

@mixin placeholder {
  color: $color-gray-3;
  font-style: italic;
}
@mixin greyhawkfont {
  font-family: $text-header;
  font-weight: normal;
}
@mixin header1 {
  @include greyhawkfont;
  font-size: 2.5em;
  margin-bottom: 0;
  @include mq-phone {
    font-size: 1.25em;
  }
}
@mixin header2 {
  @include greyhawkfont;
  font-size: 1rem;
  color: $color-royal;
  margin-bottom: 0;
  @include mq-phone {
    font-size: 1em;
  }
}
@mixin header3 {
  font-size: 0.875em;
  margin-bottom: 0;
  font-weight: bold;
}
@mixin header4 {
}
@mixin header5 {
}
@mixin header6 {
}

@mixin input-basics {
  height: $form-element-height;
  border-radius: $border-radius-standard;
  border: $form-element-border;
  padding: 0 0.25em;
  background-color: $color-input-background;
}

@mixin list-columns($columns: 3, $gap: 3em) {
  list-style: none;
  padding: 0;
  -webkit-column-count: $columns;
  -moz-column-count: $columns;
  column-count: $columns;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
  //column-rule: medium solid $color-gray-3;
}

@mixin hide-item {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

@mixin background-color-transition {
  transition: background-color 0.5s ease;
}
