@charset "UTF-8";
/* *********** Variables & mixins ********** */
@font-face {
  font-family: "FontAwesome";
  src: url("assets/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype");
}
/* *********** Mixins ********** */
.fas {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.fas::before {
  font-family: "FontAwesome";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-edit::before {
  content: "";
}

.fa-trash::before {
  content: "";
}

.fa-die::before {
  content: "";
}

.fa-pointer::before {
  content: "";
}

.fa-new-window::before {
  content: "";
}

.fa-eye::before {
  content: "";
}

.fa-wand::before {
  content: "";
}

.fa-shield::before {
  content: "";
}

.fa-diamond::before {
  content: "";
}

.fa-castle::before {
  content: "";
}

.fa-sphere::before {
  content: "";
}

.fa-circle::before {
  content: "";
}

.fa-triangle-up::before {
  content: "";
}

.fas-volume::before {
  content: "";
}

.fas-feather::before {
  content: "";
}

.fas-leaf::before {
  content: "";
}

.fas-heart::before {
  content: "";
}

.fa-spell-dot {
  font-size: 16px;
  margin-left: 6px;
}
.fa-spell-dot::before {
  content: "";
}
.fa-spell-dot--black {
  color: #000;
}
.fa-spell-dot--blue {
  color: #2375b9;
}
.fa-spell-dot--green {
  color: #04a54f;
}
.fa-spell-dot--red {
  color: #eb2026;
}
.fa-spell-dot--white::before {
  content: "";
}

.icon-school {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 4px;
  background-color: transparent;
}
.icon-school--white {
  background-color: #9e9e9e;
}
.icon-school--black {
  background-color: #000;
}
.icon-school--green {
  background-color: #04a54f;
}
.icon-school--blue {
  background-color: #2375b9;
}
.icon-school--red {
  background-color: #eb2026;
}

/* *********** HEADER ********** */
.header {
  color: #fff;
  background: #000;
  box-shadow: 1000px 0px 0px 0px #000, -1000px 0px 0px 0px #000;
}
.header__logo {
  height: 50px;
}
.header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav-list-item {
  font-size: 20px;
  color: #000;
  background: #f1be42;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid;
  display: block;
  width: 100%;
  padding: 16px;
  display: inline-block;
}
@media (min-width: 769px) {
  .header__nav-list-item {
    font-size: 24px;
    line-height: 1.3em;
  }
}
.header__nav-list-item:hover {
  background: #ffffa1;
}
@media (min-width: 769px) {
  .header__nav-list-item {
    display: inline-block;
    width: auto;
    padding: 8px 16px;
  }
}

.logo {
  height: 80px;
  width: auto;
  margin-right: 8px;
}

/* *********** HOMEPAGE  ********** */
/* MASTHEAD  */
.masthead {
  color: #fff;
  background: #883c8d;
  box-shadow: 1000px 0px 0px 0px #883c8d, -1000px 0px 0px 0px #883c8d;
}
.masthead__inner {
  text-align: center;
}
@media (min-width: 769px) {
  .masthead__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 32px;
    align-items: center;
  }
}
.masthead__header {
  margin: 0;
}
@media (min-width: 769px) {
  .masthead__header-br {
    display: none;
  }
}
.masthead__copy {
  margin: 16px 0;
}
@media (min-width: 769px) {
  .masthead__copy {
    margin: 24px 0 34px 0;
  }
}
.masthead__img {
  width: 100%;
  border: 1px solid black;
}

/*  FEATURES  */
.features {
  color: #000080;
  background: #fff;
  box-shadow: 1000px 0px 0px 0px #fff, -1000px 0px 0px 0px #fff;
}
.features__list {
  list-style: none;
  padding: 0;
}
.features__list > li {
  margin-bottom: 30px;
  position: relative;
  padding-left: 70px;
  line-height: 1.4em;
}
.features__list b {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}
.features__icon {
  color: #fff;
  background: #883c8d;
  display: inline-block;
  font-size: 28px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 4px;
  left: 0;
  opacity: 0.5;
}
.features__icon.fas-volume {
  font-size: 36px;
}
.features__img {
  width: 100%;
  border: 2px solid white;
}
.features__copy {
  grid-area: cpy;
}
.features__img-container {
  grid-area: img;
}

@media (min-width: 769px) {
  .features__list {
    padding-left: 60px;
    padding-right: 60px;
  }
  .features__list > li {
    margin-bottom: 40px;
  }
}
/*  EXPLAIN  */
.explain {
  color: #000080;
  background: #e0e6f2;
  box-shadow: 1000px 0px 0px 0px #e0e6f2, -1000px 0px 0px 0px #e0e6f2;
}
.explain__img {
  width: 100%;
  border: 2px solid white;
}
.explain__copy {
  grid-area: cpy;
}
.explain__img-container {
  grid-area: img;
}

@media (min-width: 769px) {
  .explain__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 32px;
    align-items: start;
    grid-template-rows: masonry;
    grid-template-areas: "img cpy";
  }
}
/* *********** Footer ********** */
.footer {
  color: #fff;
  background: #000;
  box-shadow: 1000px 0px 0px 0px #000, -1000px 0px 0px 0px #000;
}

/* *********** base ********** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: black;
  background: white;
}

.skipnav {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  height: auto;
  width: auto;
  overflow: hidden;
  z-index: 1000;
  color: transparent;
}

/* *********** Layout ********** */
#root {
  margin-left: auto;
  margin-right: auto;
  max-width: 1176px;
  padding: 0 16px;
}
@media (min-width: 769px) {
  #root {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 60px;
  }
}

.section-large {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 769px) {
  .section-large {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

/* *********** Layout & MQs ********** */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 32px;
  align-items: center;
}

/* *********** ELEMENTS ********** */
.text-giant {
  font-size: 32px;
}
@media (min-width: 769px) {
  .text-giant {
    font-size: 60px;
  }
}

.text-medium {
  font-size: 20px;
}
@media (min-width: 769px) {
  .text-medium {
    font-size: 24px;
    line-height: 1.3em;
  }
}

.text-small {
  font-size: 12px;
}
@media (min-width: 769px) {
  .text-small {
    font-size: 16px;
  }
}

.button {
  font-size: 20px;
  color: #000;
  background: #f1be42;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid;
  display: block;
  width: 100%;
  padding: 16px;
}
@media (min-width: 769px) {
  .button {
    font-size: 24px;
    line-height: 1.3em;
  }
}
.button:hover {
  background: #ffffa1;
}
@media (min-width: 769px) {
  .button {
    display: inline-block;
    width: auto;
    padding: 8px 16px;
  }
}

h1 {
  font-size: 20px;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
@media (min-width: 769px) {
  h1 {
    font-size: 24px;
    line-height: 1.3em;
  }
}

h2,
.h2 {
  font-size: 12px;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 769px) {
  h2,
.h2 {
    font-size: 16px;
  }
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* *********** LVL 2 page Layouts ********** */
.page {
  margin: 16px 0;
}
@media (min-width: 769px) {
  .page {
    margin: 32px 0;
  }
}
.page--aside {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  grid-template-areas: "as as as ct ct ct ct ct ct";
}
@media (min-width: 769px) {
  .page--aside {
    grid-template-areas: "as as as as ct ct ct ct ct ct ct ct";
  }
}
@media (max-width: 789px) {
  .page--aside {
    grid-template-areas: "as as as as ct ct ct ct ct ct ct ct";
  }
}
.page__aside {
  color: #000080;
  background: #e0e6f2;
  grid-area: as;
  padding: 16px;
}
.page__content {
  color: #000080;
  background: #fff;
  grid-area: ct;
  padding: 16px;
}

.desc {
  margin-bottom: 32px;
}
.desc--mutation h2 {
  color: #ff2600;
}
.desc--mutation tbody tr:nth-child(odd) {
  background: #f7d2bc;
}
.desc--defect h2 {
  color: #04a54f;
}
.desc--defect tbody tr:nth-child(odd) {
  background: #beebd1;
}
.desc--psionic h2 {
  text-shadow: 0 0 10px #ecde82;
  color: #883c8d;
}

.desc-talent__wrapper {
  display: flex;
}
.desc-talent__image > img {
  margin-left: 1rem;
  max-height: 350px;
  border: 2px solid #883c8d;
}

.ut-color-psionic-glow {
  text-shadow: 0 0 10px #ecde82;
  color: #883c8d;
}

.desc__list {
  font-size: 12px;
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.75rem;
}
.desc__list--talent {
  grid-template-columns: 1fr;
}

.top-search {
  padding: 0.25em 1em;
  border: 1px solid #883c8d;
  background: #f0e0f2;
  margin: 1em 0;
}

.grid-talent-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.75rem;
}

.grid-psionic-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.75rem;
}

.back-to-top {
  text-decoration: none;
  font-size: 12px;
  display: block;
  text-align: right;
}

.monster {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas: "nm nm nm nm nm nm nm nm nm nm nm nm" "bs bs bs bs bs bs ig ig ig ig ig ig" "ct ct ct ct ct ct ig ig ig ig ig ig" "at at at at at at ig ig ig ig ig ig" "md md md md md md md md md md md md";
}
.monster__name {
  grid-area: nm;
}
.monster__basics {
  grid-area: bs;
}
.monster__basics, .monster__combat {
  list-style: none;
  padding: 0;
  margin: 0;
}
.monster__basics > li, .monster__combat > li {
  display: grid;
  grid-template-columns: 120px auto;
  padding: 2px;
}
.monster__basics > li span:nth-child(1), .monster__combat > li span:nth-child(1) {
  text-align: right;
  margin-right: 6px;
}
.monster__basics > li:nth-child(odd), .monster__combat > li:nth-child(odd) {
  background: #f0e0f2;
}
.monster__combat {
  grid-area: ct;
}
.monster__attributes {
  grid-area: at;
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.monster__image {
  grid-area: ig;
}
.monster__image > img {
  border: 1px solid #883c8d;
  width: 380px;
  height: auto;
}
.monster__markdown {
  grid-area: md;
}

.ut-position-relative {
  position: relative;
}

.ut-display-inine-block {
  display: inline-block;
}

.ut-align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ut-zebra-gray {
  background: #f6f7fb;
}

.ut-color-knave {
  color: #d2691e;
}
.ut-color-fighter {
  color: #04a54f;
}
.ut-color-priest {
  color: #2375b9;
}
.ut-color-wizard {
  color: #e1a525;
}
.ut-color-knave {
  color: #eb2026;
}
.ut-color-royal {
  color: #883c8d;
}
.ut-color-mutation {
  color: #ff2600;
}
.ut-color-gray {
  color: #767676;
}
.ut-color-spell-black {
  color: #883c8d;
}
.ut-color-spell-blue {
  color: #883c8d;
}
.ut-color-spell-green {
  color: #883c8d;
}
.ut-color-spell-red {
  color: #883c8d;
}
.ut-color-spell-white {
  color: #883c8d;
}
.ut-color--psionic-glow {
  text-shadow: 0 0 10px #ecde82;
  color: #883c8d;
}

.ut-margin-top-0 {
  margin-top: 0;
}
.ut-margin-bottom-half-em {
  margin-bottom: 0.5em;
}
.ut-margin-bottom-half-rem {
  margin-bottom: 0.5rem;
}
.ut-margin-right-2em {
  margin-right: 2em;
}
.ut-margin-right-1em {
  margin-right: 1em;
}
.ut-margin-right-half-em {
  margin-right: 0.5em;
}
.ut-margin-left-1em {
  margin-left: 1em;
}
.ut-margin-left-half-em {
  margin-left: 0.5em;
}

.ut-all-caps {
  text-transform: uppercase;
}

.ut-text-explain,
.ut-text-helper {
  color: #767676;
  font-size: 0.9375rem;
  font-style: italic;
}

.ut-captialize {
  text-transform: capitalize;
}

.ut-dropcap {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

@media print {
  .ut-no-print {
    display: none !important;
  }
}
@media screen {
  .ut-no-screen {
    display: none !important;
  }
}
.ut-clickable {
  cursor: pointer;
}
.ut-clickable:hover {
  color: #883c8d;
}

.ut-clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.ut-hidden {
  visibility: hidden;
}

.ut-hidden {
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}

.ut-ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ut_tm {
  font-size: 0.75em;
  vertical-align: super;
}

@media (max-width: 768px) {
  .only-desktop,
.ut-only-desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .only-phone,
.ut-only-phone {
    display: none;
  }
}

.only-sr,
.ut-only-sr {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  height: auto;
  width: auto;
  overflow: hidden;
  z-index: 1000;
  color: transparent;
}

/*# sourceMappingURL=style.css.map */
