@charset "UTF-8";
/***************************** FONT IMPORTS ************************************* */
@font-face {
  font-family: "cabin-regular";
  src: url("assets/fonts/Cabin/Cabin-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "cabin-medium";
  font-weight: normal;
  src: url("assets/fonts/Cabin/Cabin-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "cabin-semibold";
  font-weight: normal;
  src: url("assets/fonts/Cabin/Cabin-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "cabin-bold";
  src: url("assets/fonts/Cabin/Cabin-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GreyhawkGothic";
  src: url("assets/fonts/GreyhawkGothic/GreyhawkGothic.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesome";
  src: url("assets/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Kaushan Script";
  src: url("assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Cabin Regular", Cabin, sans-serif;
  color: #000;
  background: #f6f7fb;
}

main {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
@media (min-width: 481px) and (max-width: 768px) {
  main {
    padding: 1rem;
  }
}
@media (max-width: 480px) {
  main {
    padding: 0.5rem;
  }
}

.autosave {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: #f5f3ed;
  border: 1px solid #c4c4c4;
  padding: 5px;
}
.autosave label {
  margin: 0;
  cursor: pointer;
}
.autosave input {
  cursor: pointer;
}

.footer {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  background: #ddb5e0;
  color: #652d69;
  box-shadow: 1000px 0px 0px 0px #ddb5e0, -1000px 0px 0px 0px #ddb5e0;
  padding: 1.5rem;
  padding-bottom: 10rem;
}

/***** HEADERS *****/
h1,
.h1 {
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  h1,
.h1 {
    font-size: 1.25em;
  }
}

h2,
.h2 {
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #883c8d;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  h2,
.h2 {
    font-size: 1em;
  }
}

h3,
.h3 {
  font-size: 0.875em;
  margin-bottom: 0;
  font-weight: bold;
}

button,
input[type=submit],
input[type=button] {
  cursor: pointer;
}

/*******************  LISTS  ****************************/
dl.dl--columns-4,
.dl.dl--columns-4 {
  -moz-column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-count: 4;
  -webkit-column-gap: 1em;
  column-count: 4;
  column-gap: 1em;
}

dt,
.dt {
  font-weight: bold;
}

dd,
.dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

.list-downloads {
  list-style: none;
  padding: 0.5rem 0 0 2rem;
  margin: 0;
  text-align: left;
}
.list-downloads__item {
  margin-bottom: 0.75rem;
}
.list-downloads__link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #883c8d;
}
.list-downloads__link:hover {
  text-decoration: underline;
}
.list-downloads__link:before {
  font-family: "FontAwesome";
  color: #883c8d;
  font-size: 18px;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 2px;
}

/*******************  Talent class indicators next to selects  ****************************/
.talent-class-indicator {
  display: inline-block;
  color: #fff;
  height: 16px;
  width: 16px;
  font-size: 0.75rem;
  margin: 0 4px 0 0;
  text-align: center;
  border-radius: 2px;
  background: #c4c4c4;
}
.talent-class-indicator--fighter {
  background: #04a54f;
}
.talent-class-indicator--knave {
  background: #eb2026;
}
.talent-class-indicator--priest {
  background: #2375b9;
}
.talent-class-indicator--wizard {
  background: #e1a525;
}
.talent-class-indicator--royal {
  background: #883c8d;
}

/***** PLACEHOLDERS *****/
::-webkit-input-placeholder {
  color: #c4c4c4;
  font-style: italic;
}

::-moz-placeholder {
  color: #c4c4c4;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #c4c4c4;
  font-style: italic;
}

input:-moz-placeholder {
  color: #c4c4c4;
  font-style: italic;
}

::placeholder {
  color: #c4c4c4;
  font-style: italic;
}

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #883c8d;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  legend {
    font-size: 1em;
  }
}

/***** LABELS *****/
label {
  display: block;
  margin-bottom: 1rem;
}

.label {
  font-size: 0.875em;
  margin-bottom: 0;
  font-weight: bold;
}

/***** INPUTS *****/
input[type=text] {
  height: 24px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding: 0 0.25em;
  background-color: #f5f3ed;
  font-family: "Cabin Regular", Cabin, sans-serif;
}
input[type=text]:hover {
  color: #883c8d;
  border-color: #883c8d;
}
input[type=text]:active {
  color: #883c8d;
  border-color: #883c8d;
}

input[type=number] {
  height: 24px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding: 0 0.25em;
  background-color: #f5f3ed;
  font-family: "Cabin Regular", Cabin, sans-serif;
  text-align: center;
}
input[type=number]:hover {
  color: #883c8d;
  border-color: #883c8d;
}
input[type=number]:active {
  color: #883c8d;
  border-color: #883c8d;
}

/***** SELECTS *****/
select {
  height: 24px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding: 0 0.25em;
  background-color: #f5f3ed;
  font-family: "Cabin Regular", Cabin, sans-serif;
}
select:hover {
  color: #883c8d;
  border-color: #883c8d;
}
select:active {
  color: #883c8d;
  border-color: #883c8d;
}

button,
.button {
  height: 24px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding: 0 0.25em;
  background-color: #f5f3ed;
  font-family: "Cabin Regular", Cabin, sans-serif;
}
button:hover,
.button:hover {
  color: #883c8d;
  border-color: #883c8d;
}
button:active,
.button:active {
  color: #883c8d;
  border-color: #883c8d;
}
button--primary,
.button--primary {
  background-color: #883c8d;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  border-color: #883c8d;
  vertical-align: bottom;
}
button--primary:hover,
.button--primary:hover {
  background-color: #652d69;
  color: #fff;
}
button--primary:active,
.button--primary:active {
  background-color: #652d69;
  color: #fff;
}
button--secondary,
.button--secondary {
  background-color: transparent;
  color: #883c8d;
}
button--secondary:hover,
.button--secondary:hover {
  background-color: transparent;
  color: #b9861a;
  border-color: #b9861a;
}
button--secondary:active,
.button--secondary:active {
  background-color: transparent;
  color: #652d69;
}
button--large,
.button--large {
  min-width: 140px;
  padding: 0.75rem;
  height: auto;
  font-size: 1rem;
}

input.input--attached-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right: none;
}

.input--attached-button + button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0px;
  height: 24px;
}

.fieldset {
  position: relative;
  border: 1px solid;
  padding: 1.5em 0.75em 0.75em 0.75em;
  margin-top: 1em;
}
.fieldset--hidden {
  border: none;
  padding: 0;
  margin: 0;
  position: static;
}
@media (max-width: 480px) {
  .fieldset {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
    border-bottom: 0;
  }
}

.fieldset__header {
  position: absolute;
  top: 0;
  line-height: 1;
  margin: -11px 0 0;
  /* half of font-size */
  background: #fff;
  padding: 0 3px;
}

input[type=radio] {
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label {
  display: inline-block;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  padding: 0 0.25em;
  background-color: #f5f3ed;
  font-family: "Cabin Regular", Cabin, sans-serif;
  text-transform: capitalize;
  vertical-align: bottom;
  line-height: 20px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-left: 0.5em;
}
input[type=radio] + label:hover {
  color: #883c8d;
  border-color: #883c8d;
}
input[type=radio] + label:active {
  color: #883c8d;
  border-color: #883c8d;
}

input[type=radio]:checked + label {
  display: inline-block;
  background: #883c8d;
  color: #fff;
  border-color: black;
}
input[type=radio]:checked + label.fighter {
  background: #049648;
}
input[type=radio]:checked + label.wizard {
  background: #d99d1e;
}
input[type=radio]:checked + label.priest {
  background: #2375b9;
}
input[type=radio]:checked + label.knave {
  background: #eb2026;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  font-size: 0.875rem;
}

td,
th {
  padding: 0.25em 0.5em;
  border: none;
  min-width: 30px;
  text-align: left;
  vertical-align: top;
  border: 1px solid;
}

th {
  text-align: center;
  background: #ddb5e0;
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
}

.list-columns {
  list-style: none;
  padding: 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em;
}

.table-levels {
  width: 100%;
}
.table-levels .talentAssigned {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.table-levels--1 .table-levels--lvl2 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl3 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl4 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl5 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl6 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl7 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl8 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl9 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--1 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--2 .table-levels--lvl3 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl4 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl5 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl6 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl7 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl8 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl9 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--2 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--3 .table-levels--lvl4 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl5 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl6 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl7 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl8 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl9 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--3 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--4 .table-levels--lvl5 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl6 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl7 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl8 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl9 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--4 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--5 .table-levels--lvl6 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--5 .table-levels--lvl7 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--5 .table-levels--lvl8 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--5 .table-levels--lvl9 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--5 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--5 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--5 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--5 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--5 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--6 .table-levels--lvl7 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--6 .table-levels--lvl8 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--6 .table-levels--lvl9 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--6 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--6 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--6 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--6 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--6 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--7 .table-levels--lvl8 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--7 .table-levels--lvl9 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--7 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--7 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--7 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--7 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--7 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--8 .table-levels--lvl9 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--8 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--8 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--8 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--8 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--8 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--9 .table-levels--lvl10 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--9 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--9 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--9 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--9 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--10 .table-levels--lvl11 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--10 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--10 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--10 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--11 .table-levels--lvl12 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--11 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--11 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--12 .table-levels--lvl13 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}
.table-levels--12 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.table-levels--13 .table-levels--lvl14 td {
  opacity: 0.5;
  border-color: #dcdcdc;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid__child {
  width: calc(33% - 1rem);
}
.flex-grid__child--two {
  width: calc(67% - 1rem);
}
.flex-grid__child--three {
  width: 100%;
}
.flex-grid__child--auto {
  width: auto;
}
.flex-grid__child--half {
  width: calc(50% - 1.5rem);
}
.flex-grid--wrap {
  flex-wrap: wrap;
}
.flex-grid--space-evenly {
  justify-content: space-evenly;
}
.flex-grid--flex-start {
  justify-content: flex-start;
}
.flex-grid--align-items-end {
  align-items: flex-end;
}
.flex-grid--align-items-center {
  align-items: center;
}

.fas {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.fas::before {
  font-family: "FontAwesome";
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-edit::before {
  content: "";
}

.fa-trash::before {
  content: "";
}

.fa-die::before {
  content: "";
}

.fa-pointer::before {
  content: "";
}

.fa-new-window::before {
  content: "";
}

.fa-eye::before {
  content: "";
}

.fa-wand::before {
  content: "";
}

.fa-shield::before {
  content: "";
}

.fa-diamond::before {
  content: "";
}

.fa-castle::before {
  content: "";
}

.icon-school {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-left: 4px;
  background-color: transparent;
}
.icon-school--white {
  background-color: #9e9e9e;
}
.icon-school--black {
  background-color: #000;
}
.icon-school--green {
  background-color: #04a54f;
}
.icon-school--blue {
  background-color: #2375b9;
}
.icon-school--red {
  background-color: #eb2026;
}

.alignment-radio-set {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 490px;
}
.alignment-radio-set__item {
  width: 33%;
  text-align: center;
  margin-bottom: 2px;
}
.alignment-radio-set__item > input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}
.alignment-radio-set__item .alignment-radio-label {
  display: block;
  background-color: #f5f3ed;
  border-radius: 3px;
  transition: background-color 0.5s ease;
}
.alignment-radio-set__item > input:checked + .alignment-radio-label {
  background: #883c8d;
  color: #fff;
}

.fx-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fx-col {
  width: 50%;
}

.trait-list {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
  min-height: 86px;
}

.trait-list li {
  padding: 0.25em 0.25em 0.25em 0.5em;
  margin: 0.25em;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.5s ease;
  border: 1px solid #dcdcdc;
}

.aspect__modal-open-button {
  text-transform: capitalize;
}

.aspect-radio-set {
  list-style: none;
  padding: 0;
  width: 242px;
  height: 194px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 3px;
  background-color: transparent;
  margin: 0 auto 1rem auto;
}
.aspect-radio-set__item:nth-child(1), .aspect-radio-set__item:nth-child(3) {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.aspect-radio-set__item:nth-child(1) {
  order: 1;
}
.aspect-radio-set__item:nth-child(2) {
  order: 3;
}
.aspect-radio-set__item:nth-child(3) {
  order: 4;
}
.aspect-radio-set__item:nth-child(4) {
  order: 2;
}

input[type=radio] + label.aspect-radio-label {
  height: 66px;
  width: 81px;
  border: 2px solid;
  filter: grayscale(1);
  opacity: 0.5;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 0;
  color: black;
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  cursor: pointer;
}
input[type=radio] + label.aspect-radio-label--fighter {
  border-color: #04a54f;
}
input[type=radio] + label.aspect-radio-label--fighter:hover {
  filter: none;
}
input[type=radio] + label.aspect-radio-label--priest {
  border-color: #2375b9;
}
input[type=radio] + label.aspect-radio-label--priest:hover {
  filter: none;
}
input[type=radio] + label.aspect-radio-label--wizard {
  border-color: #e1a525;
}
input[type=radio] + label.aspect-radio-label--wizard:hover {
  filter: none;
}
input[type=radio] + label.aspect-radio-label--knave {
  border-color: #eb2026;
}
input[type=radio] + label.aspect-radio-label--knave:hover {
  filter: none;
}
input[type=radio] + label.aspect-radio-label__type {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.aspect-radio-set__item > input:checked + .aspect-radio-label {
  filter: none;
  opacity: 1;
}

.aspect-radio-set__item > input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.trait-list li button {
  margin-left: 0.25rem;
}

.aspect-icon {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 24px;
  margin-right: 0.5rem;
  vertical-align: bottom;
}
.aspect-icon:after {
  content: "";
  position: absolute;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  height: 100%;
  width: 100%;
  left: 0px;
  bottom: 0px;
  color: #883c8d;
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.aspect-icon--large {
  height: 36px;
  width: 36px;
  margin: 0;
}
.aspect-icon--large:after {
  background-size: 90%;
}
.aspect-icon--medium {
  height: 20px;
  width: 20px;
  margin: 0;
}
.aspect-icon--medium:after {
  background-size: 90%;
}
.aspect-icon--in-button {
  height: 12px;
  width: 12px;
  margin: 0 0.25rem 0 0;
}
.aspect-icon--in-button:after {
  background-size: 90%;
  bottom: 2px;
}
.aspect-icon--common:after {
  content: "C";
}
.aspect-icon--race:after {
  content: "R";
}
.aspect-icon--fighter:after {
  background-image: url("assets/images/spade.svg");
}
.aspect-icon--priest:after {
  background-image: url("assets/images/diamond.svg");
}
.aspect-icon--wizard:after {
  background-image: url("assets/images/club.svg");
}
.aspect-icon--knave:after {
  background-image: url("assets/images/heart.svg");
}

.aspect-picker-desc__header {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.aspect-picker-desc__header > span {
  margin-right: 0.25rem;
}
.aspect-picker-desc__list {
  margin: 0;
}

.data-display-box {
  position: relative;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 1rem;
}
.data-display-box__text {
  padding: 1rem;
}
.data-display-box__header {
  position: absolute;
  bottom: 0.25rem;
  left: 0;
  width: 100%;
  text-align: center;
}
.data-display-box--save-mods {
  margin-bottom: 0;
  min-height: 66px;
  height: auto;
  text-align: left;
}
.data-display-box__save-mods-list {
  list-style: none;
  margin: 0;
  padding-left: 26px;
}
.data-display-box__save-mods-list-item {
  position: relative;
  margin-bottom: 0.75em;
}
.data-display-box__save-mods-list-item:last-child {
  margin-bottom: 0;
}
.data-display-box__save-mods-list-item > .aspect-icon {
  position: absolute;
  left: -28px;
  top: -1px;
}
.data-display-box__save-mods-list-item > .aspect-icon--race {
  top: -3px;
}
.data-display-box__save-mods-list-item > .fas {
  position: absolute;
  left: -24px;
  top: -1px;
}
.data-display-box--explanations {
  margin-bottom: 2rem;
  height: 152px;
  width: 100%;
}
.data-display-box--quick-values {
  height: 68px;
}
.data-display-box--perception .data-display-box__text {
  padding: 0.25rem;
}
.data-display-box--quick-values.flex-grid__child {
  width: calc(50% - 1rem);
}
.data-display-box__button {
  position: absolute;
  right: 6px;
  top: 6px;
}

.homepage {
  margin-bottom: 4rem;
}
.homepage__h2 {
  margin-top: 0;
  font-size: 1.8em;
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  text-align: center;
}
.homepage__p {
  font-size: 1.33rem;
  line-height: 1.66em;
}
.homepage__p b {
  font-family: "Kaushan Script", cursive;
  font-size: 1.4rem;
  color: #883c8d;
}
.homepage__ul li {
  margin-bottom: 1em;
}
.homepage__cta {
  font-size: 1.33rem;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.homepage__cover {
  width: 100%;
  height: auto;
  margin-right: 2rem;
  border: 1px solid #883c8d;
}
.homepage__cover-wrapper {
  width: 50%;
}
.homepage__btn-try {
  margin: 0 4px;
  font-size: 0.625em;
  padding: 0.5em;
  line-height: 0.5em;
  vertical-align: text-top;
  text-transform: uppercase;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  width: 640px;
  max-width: 960px;
  max-height: calc(100vh - 80px);
  top: 40px;
  left: 50%;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, 0);
  background: #fff;
  overflow: hidden;
  outline: none;
  padding: 0;
}
.modal__header {
  background: #883c8d;
  height: 40px;
  position: relative;
  padding: 0;
  text-align: left;
}
.modal__h2 {
  margin: 0 0 0 1.5rem;
  font-size: 1.25rem;
  height: 40px;
  line-height: 40px;
  color: #fff;
  letter-spacing: 2px;
}
.modal__header-button {
  height: 40px;
  width: 40px;
  color: #883c8d;
  background: #fff;
  border-radius: 0;
  border: none;
  font-size: 1.25em;
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  border: 1px solid #883c8d;
  position: absolute;
  right: 0;
  top: 0;
}
.modal__header-button:hover {
  color: #fff;
  background: #883c8d;
}
.modal__body {
  padding: 1.5rem;
  line-height: 1.25em;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}
.modal__body table {
  width: 100%;
  margin: 0;
}
.modal__footer {
  padding: 1.5rem;
}

.header {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  background: #883c8d;
  color: #fff;
  box-shadow: 1000px 0px 0px 0px #883c8d, -1000px 0px 0px 0px #883c8d;
  position: relative;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}
.header__h1-link {
  color: #fff;
  text-decoration: none;
}
.header__h1-link:hover {
  color: #f1be42;
}
.header h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0px;
  letter-spacing: 0.33rem;
  text-align: left;
  margin-left: 1rem;
}
.header__dropcap {
  font-size: 5.9rem;
  margin-top: 0;
  letter-spacing: 0;
}
.header .subheader {
  font-family: "Kaushan Script", cursive;
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0px;
  letter-spacing: 0.1rem;
  margin-top: -4px;
  margin-left: 4px;
}
.header__card-icons {
  margin-right: 1rem;
  width: 33%;
}
.header__nav-list {
  list-style: none;
  padding: 0;
  background: #2375b9;
  display: flex;
  justify-content: space-between;
}
.header__nav-list-item a {
  display: inline-block;
  color: #fff;
  padding: 1em;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}
.header__nav-list-item a:hover {
  background: #f1be42;
  color: #000;
}
.header__system-banner {
  display: none;
  font-family: "Kaushan Script", cursive;
  color: #000;
  background: #f1be42;
  padding: 0.25em;
  position: absolute;
  width: 300px;
  text-align: center;
  top: 24px;
  right: -84px;
  transform: rotate(35deg);
}
.header__bottom-border {
  display: none;
  background-image: url("assets/images/border-triangles-down-no-bottom.svg");
  background-repeat: repeat-x;
  background-size: 60% auto;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 1rem;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0.5rem;
  }
}

.char-bldr {
  max-width: 880px;
  text-align: left;
  margin: 0 auto;
}
.char-bldr__h2 {
  margin-top: -1rem;
  font-size: 1.8em;
  font-family: "Kaushan Script", cursive;
  font-weight: normal;
  text-align: center;
}
.char-bldr__toolbar {
  background: #dcdcdc;
  padding: 1em 1em 0 1em;
  border-radius: 3px;
}
.char-bldr__toolbar > div {
  margin-right: 3em;
}
.char-bldr__bottom-border {
  background-image: url("assets/images/border-triangles-down-no-bottom.svg");
  background-repeat: repeat-x;
  background-size: 60% auto;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  margin-bottom: 1em;
}
.char-bldr__bottom-border--flip {
  transform: rotate(180deg);
}

.hp {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 50px;
}

.attributes {
  position: relative;
  /* For Firefox */
  /* Webkit browsers like Safari and Chrome */
}
.attributes__button {
  cursor: pointer;
  padding: 3px 3px 0 3px;
}
.attributes__die-button {
  position: absolute;
  top: 1rem;
  left: -3rem;
}
.attributes .attrib-input {
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-family: "Cabin Regular", Cabin, sans-serif;
}
.attributes input[type=number] {
  -moz-appearance: textfield;
}
.attributes input[type=number]::-webkit-inner-spin-button,
.attributes input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.attrib-val {
  width: 44px;
  height: 44px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f3ed;
}

.attrib-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.attrib-name {
  padding-left: 10px;
}
.attrib-name button {
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  font-size: 1.2rem;
  color: #883c8d;
  background-color: transparent;
  border: none;
}
.attrib-name button:hover {
  background-color: transparent;
  text-decoration: underline;
}

.attrib-mod {
  padding-left: 1rem;
  font-style: italic;
  font-size: 0.875rem;
  font-family: "Cabin Medium", Cabin, sans-serif;
}
.attrib-mod span {
  border-bottom: 1px solid black;
}
.attrib-mod input {
  width: 30px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.attrib-bonus {
  display: inline-block;
  width: 16px;
  overflow: hidden;
  vertical-align: middle;
}

body {
  position: relative;
}

#dice-box, #dice-box canvas {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.button--modalClose {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  line-height: 0;
}

.notes {
  margin-top: 0.75em;
}
.notes__textarea {
  font-family: "Cabin Regular", Cabin, sans-serif;
  width: 100%;
  min-height: 120px;
  padding: 10px;
}
.notes__list {
  margin-top: 0;
}
.notes__buttons {
  margin: 0.25em 0 1em 0;
}
.notes__buttons > button {
  margin-right: 0.5em;
}

.spells__cta {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 1em;
}
.spells__cta > .button {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.spells__table {
  width: 100%;
}
.spells__table tr:nth-child(even) {
  background-color: #f6f7fb;
}
.spells__table th {
  border-color: #000;
}
.spells__table th,
.spells__table td {
  padding: 5px;
  text-align: center;
}
.spells__table td:nth-child(2) {
  text-align: left;
}
.spells--table-wizardry th {
  background-color: #e1a525;
  color: #fff;
  border-color: #000;
}
.spells--table-thaumaturgy th {
  background-color: #2375b9;
  color: #fff;
  border-color: #000;
}
.spells__known-schools {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  top: 2px;
}

.button-showSpellSlots {
  margin-left: 20px;
}

#modal--spellSlots .modal__body {
  display: flex;
  justify-content: center;
}
#modal--spellSlots td {
  text-align: center;
}
#modal--spellSlots .active,
#modal--spellSlots .active th {
  background-color: #f4ddab;
}

#modal--thaumaturgySpells {
  width: 80vw;
}

#modal--wizardrySpells {
  width: 80vw;
}
#modal--wizardrySpells .showAll {
  margin-bottom: 10px;
}
#modal--wizardrySpells .unavailable {
  background-color: #ebebeb;
  color: rgba(51, 51, 51, 0.8);
  cursor: not-allowed;
  pointer-events: none;
}
#modal--wizardrySpells .unavailable:hover, #modal--wizardrySpells .unavailable:active {
  background-color: #ebebeb;
}

#modal--schools {
  width: fit-content;
}
#modal--schools fieldset {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
#modal--schools fieldset div {
  display: inline-block;
  margin: 5px 0 5px 20px;
}
#modal--schools fieldset div:first-child {
  margin-left: 0;
}
#modal--schools fieldset div:last-child {
  margin-right: 0;
}
#modal--schools label {
  cursor: pointer;
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 0 0 8px;
  margin: 0;
}
#modal--schools input {
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  margin: 0;
}
#modal--schools .schoolDescriptions {
  border: 1px solid #883c8d;
  padding: 1em;
  margin-bottom: 1em;
}
#modal--schools .schoolDescriptions span {
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
  font-weight: normal;
  font-size: 1rem;
}
#modal--schools .schoolDescriptions ul {
  margin: 0;
  padding: 0;
}
#modal--schools .schoolDescriptions li {
  list-style: none;
  line-height: 1.4em;
}
#modal--schools .school-white {
  color: #9e9e9e;
}
#modal--schools .school-black {
  color: #000;
}
#modal--schools .school-green {
  color: #04a54f;
}
#modal--schools .school-blue {
  color: #2375b9;
}
#modal--schools .school-red {
  color: #eb2026;
}
#modal--schools .validation--error {
  margin: 0;
  color: #eb2026;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }

  .header, .footer,
.char-bldr__toolbar,
.preset-chooser,
.data-display-box--explanations > div,
.data-display-box--explanations > h2,
.data-display-box__button,
.attributes__die-button,
.button-showSpellSlots,
.table-levels--lvl1 .ut-display-inine-block .label,
.table-levels--lvl1 .ut-display-inine-block br,
.spells--table button,
.notes button {
    display: none;
  }

  /* For Firefox */
  input[type=number] {
    background-color: transparent;
    border: none;
    -moz-appearance: textfield;
  }

  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }

  .aspect-icon--large:after {
    background-size: 80%;
    bottom: 10px;
  }

  .character-lrc {
    justify-content: space-between;
  }
  .character-lrc .ut-margin-right-1em {
    margin: 0;
  }

  .hp {
    font-family: "Cabin Regular", Cabin, sans-serif;
    font-size: 16px;
  }

  .data-display-box--save-mods .data-display-box__text {
    padding: 0.4rem 0.4rem 0.4rem 0;
  }

  .data-display-box--explanations {
    height: 230px;
  }

  .table-levels td select {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 14px;
  }

  .table-levels--lvl1 select {
    max-width: 157px;
  }

  .table-levels--1 .table-levels--lvl2 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl3 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl4 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl5 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl6 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl7 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl8 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl9 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--1 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--2 .table-levels--lvl3 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl4 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl5 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl6 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl7 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl8 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl9 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--2 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--3 .table-levels--lvl4 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl5 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl6 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl7 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl8 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl9 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--3 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--4 .table-levels--lvl5 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl6 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl7 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl8 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl9 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--4 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--5 .table-levels--lvl6 {
    display: none;
  }
  .table-levels--5 .table-levels--lvl7 {
    display: none;
  }
  .table-levels--5 .table-levels--lvl8 {
    display: none;
  }
  .table-levels--5 .table-levels--lvl9 {
    display: none;
  }
  .table-levels--5 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--5 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--5 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--5 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--5 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--6 .table-levels--lvl7 {
    display: none;
  }
  .table-levels--6 .table-levels--lvl8 {
    display: none;
  }
  .table-levels--6 .table-levels--lvl9 {
    display: none;
  }
  .table-levels--6 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--6 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--6 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--6 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--6 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--7 .table-levels--lvl8 {
    display: none;
  }
  .table-levels--7 .table-levels--lvl9 {
    display: none;
  }
  .table-levels--7 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--7 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--7 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--7 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--7 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--8 .table-levels--lvl9 {
    display: none;
  }
  .table-levels--8 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--8 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--8 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--8 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--8 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--9 .table-levels--lvl10 {
    display: none;
  }
  .table-levels--9 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--9 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--9 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--9 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--10 .table-levels--lvl11 {
    display: none;
  }
  .table-levels--10 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--10 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--10 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--11 .table-levels--lvl12 {
    display: none;
  }
  .table-levels--11 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--11 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--12 .table-levels--lvl13 {
    display: none;
  }
  .table-levels--12 .table-levels--lvl14 {
    display: none;
  }

  .table-levels--13 .table-levels--lvl14 {
    display: none;
  }

  .section--notes {
    position: relative;
    page-break-before: always;
  }

  .attrib-val {
    background: transparent;
  }
}
.print-text-input {
  height: 24px;
  padding: 0 0.25em;
  font-family: "Cabin Regular", Cabin, sans-serif;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #767676;
}

.ut-position-relative {
  position: relative;
}

.ut-display-inine-block {
  display: inline-block;
}

.ut-align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ut-zebra-gray {
  background: #f6f7fb;
}

.ut-color-knave {
  color: #d2691e;
}
.ut-color-fighter {
  color: #04a54f;
}
.ut-color-priest {
  color: #2375b9;
}
.ut-color-wizard {
  color: #e1a525;
}
.ut-color-knave {
  color: #eb2026;
}
.ut-color-royal {
  color: #883c8d;
}

.ut-margin-top-0 {
  margin-top: 0;
}
.ut-margin-bottom-half-em {
  margin-bottom: 0.5em;
}
.ut-margin-bottom-half-rem {
  margin-bottom: 0.5rem;
}
.ut-margin-right-2em {
  margin-right: 2em;
}
.ut-margin-right-1em {
  margin-right: 1em;
}
.ut-margin-right-half-em {
  margin-right: 0.5em;
}
.ut-margin-left-1em {
  margin-left: 1em;
}
.ut-margin-left-half-em {
  margin-left: 0.5em;
}

.ut-all-caps {
  text-transform: uppercase;
}

.ut-text-explain,
.ut-text-helper {
  color: #767676;
  font-family: "Cabin Regular", Cabin, sans-serif;
  font-size: 0.9375rem;
  font-style: italic;
}

.ut-captialize {
  text-transform: capitalize;
}

.ut-text-greyhawk {
  font-family: "GreyhawkGothic", GreyhawkGothic, sans-serif;
}

.ut-text-cursive {
  font-family: "Kaushan Script", cursive;
}

.ut-dropcap {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

@media print {
  .ut-no-print {
    display: none !important;
  }
}
@media screen {
  .ut-no-screen {
    display: none !important;
  }
}
.ut-clickable {
  cursor: pointer;
}
.ut-clickable:hover {
  color: #883c8d;
}

.ut-clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.ut-hidden {
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
}

.ut-ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ut-only-sr {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*# sourceMappingURL=style.css.map */
